<footer class="container-fluid footer-container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-9 col-lg-9 col-xl-9">
            <div class="list-group">
                <a class="list-group-item-subheading" routerLink="jobs">
                    Job Openings
                </a>
                <!-- <a class="list-group-item-subheading" routerLink="ui-developer-job">
                    Current Jobs
                </a> -->
                <!-- <a class="list-group-item-subheading">
                    About Us
                </a> -->
                <a class="list-group-item-subheading">
                    Contact Us
                </a>
            </div>
            <br />
            <div class="fb-like" data-href="https://www.facebook.com/Tiabttcom-112146833505954/" data-width="30"
                data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <h6>Social Media</h6>
            <div class="social-icons-section">
                <a href="https://www.facebook.com/Tiabttcom-112146833505954/" class="social-icon facebook-icon margin-left-0"
                    title="Tiabtt Facebook" alt="Tiabtt Facebook"> f </a>
                <a href="https://twitter.com/tiabtt" class="social-icon twitter-icon" title="Tiabtt Twitter"
                    alt="Tiabtt Facebook"> t </a>
                <a href="https://www.linkedin.com/company/28752646/admin/" class="social-icon linkedin-icon"
                    title="Tiabtt Linkedin" alt="Tiabtt Linkedin"> in </a>
            </div>
        </div>
    </div>
</footer>
<!-- <hr class="my-4" style="background: #ddd;"> -->
<!-- <p> © 2019 Tiabtt Software | All rights reserved </p> -->