<div class="container-fluid page-container">
    <h1 class="d-none d-sm-none d-md-none d-lg-block d-xl-block"> &nbsp;
        <span class="website-title pointer" routerLink="home"> लोक संघर्ष </span>
        <!--
        <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block social-icons-root">
            <div class="row">
                <div class="col-lg-5 col-xl-5 text-right padd-lr-none">
                    <h6>Social Media</h6>
                </div>
                <div class="col-lg-7 col-xl-7 padd-lr-none">
                    <div class="social-icons-section">
                        <a href="https://www.facebook.com/Tiabttcom-112146833505954/" class="social-icon facebook-icon"
                            title="Tiabtt Facebook" alt="Tiabtt Facebook"> f </a>
                        <a href="https://twitter.com/tiabtt" class="social-icon twitter-icon" title="Tiabtt Twitter"
                            alt="Tiabtt Facebook"> t </a>
                        <a href="https://www.linkedin.com/company/28752646/admin/" class="social-icon linkedin-icon"
                            title="Tiabtt Linkedin" alt="Tiabtt Linkedin"> in </a>
                    </div>
                </div>
            </div>
        </div>
    -->
    </h1>
    <!--
    <div class="col-12">
        <img src="../assets/icon/website-banner.png" height="20" />
    </div>
-->
    <app-header></app-header>

    <br class="d-none d-sm-none d-md-block d-lg-block d-xl-block" />
    <div class="row mar-none">

        <!--
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 order-3 order-sm-3 order-md-1 order-lg-1 order-xl-1">

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active bg-dark">
                    UI Developer Tutorial
                </button>
                <button type="button" class="list-group-item list-group-item-action"
                    *ngFor="let tutorialpage of uiDeveloperTutorialPages">
                    <a class="list-group-item-subheading" routerLink="{{tutorialpage.routerLink}}"> {{tutorialpage.pageName}}
                    </a>
                </button>
            </div>

            <br />

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active bg-dark">
                    UI Developer Quiz
                </button>
                <button type="button" class="list-group-item list-group-item-action"
                    *ngFor="let quizpage of uiDeveloperQuizPages">
                    <a class="list-group-item-subheading" routerLink="{{quizpage.routerLink}}"> {{quizpage.pageName}}
                    </a>
                </button>
            </div>

            <br />

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active bg-dark">
                    Web Developer Quiz
                </button>
                <button type="button" class="list-group-item list-group-item-action"
                    *ngFor="let quizpage of webDeveloperQuizPages">
                    <a class="list-group-item-subheading" routerLink="{{quizpage.routerLink}}"> {{quizpage.pageName}}
                    </a>
                </button>
            </div>

            <br />

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active bg-dark">
                    Government Quiz
                </button>
                <button type="button" class="list-group-item list-group-item-action"
                    *ngFor="let quizpage of govQuizPages">
                    <a class="list-group-item-subheading" routerLink="{{quizpage.routerLink}}"> {{quizpage.pageName}}
                    </a>
                </button>
            </div>

        </div>
    -->

        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 router-outlet">
            <router-outlet></router-outlet>
            <br />
        </div>

        <!--
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2">
            <router-outlet></router-outlet>
            <br />
        </div>
    -->

<!-- 
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 d-none d-sm-none d-md-block d-lg-block d-xl-block">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a routerLink="ui-developer-interview"> UI Developer Interview Questions </a>
                </li>
                <li class="list-group-item">
                    <a routerLink="hybrid-mobile-app-developer-interview"> Hybrid Mobile App Developer Interview
                        Questions </a>
                </li>
                <li class="list-group-item">
                    <a routerLink="timer-control"> Angular Timer Control </a>
                </li>
                <li class="list-group-item">
                    <a routerLink="stars-pattern"> Stars Patterns </a>
                </li>
            </ul>
        </div> -->


    </div>

    <!--
    <br />
    <app-footer></app-footer>
-->

</div>