<h1 class="interview-question-answer-heading" style="text-transform: capitalize;
border-bottom: 1px solid #ddd;
padding-bottom: 15px;
margin-bottom: 15px;">
    महाराष्ट्र राज्य विधानसभेच्या 2019 उमेदवाराची यादी </h1>
<!-- विधानसभा निवडणूक 2019 -->

<div class="home-section">

    <ul class="list-group main-list-group">
        <li class="list-group-item active">
            विधानसभा नाव:
        </li>
        <li class="list-group-item">
            उमेदवाराचे नाव:
            <br />
            पक्षाचे नाव:
        </li>
        <li class="list-group-item">
            उमेदवाराचे नाव:
            <br />
            पक्षाचे नाव:
        </li>
    </ul>

</div>